* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  height: 100%;
}
html {
  @include typography(body);
  @include breakpoint(lg) {
    @include typography(body, lg);
  }
}
body {
  font-family: "NunitoSans";
  height: 100%;
  @include themed() {
    background-color: t($primary);
    color: t($text);
  }
}
a {
  color: inherit;
  text-decoration: none;
}
input,
select {
  &:focus {
    outline: none;
  }
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
